In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("labels.csv")

df_full_train, df_test = train_test_split(df, test_size=0.1, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.2, random_state=42)

df_train['split'] = 'train'
df_val['split'] = 'val'
df_test['split'] = 'test'

In [5]:
final_df = pd.concat([df_train, df_val, df_test], axis=0)

In [6]:
final_df = final_df.sort_values("image_id").reset_index(drop=True)

In [7]:
final_df.head()

   image_id  split  angle  make  model  width  height
0         2    val  front   NaN    NaN    600     900
1         3  train  front   NaN    NaN    800     534
2         4  train  front   NaN    NaN    800     533
3         5  train  front   NaN    NaN   1024     576
4         6    val  front   NaN    NaN   1024     739

In [8]:
final_df[final_df['split']=='train'].groupby('angle').count()

       image_id  split  make  model  width  height
angle
front       338    338     0      0    338     338
rear        341    341     0      0    341     341
side        334    334     0      0    334     334

In [9]:
final_df[final_df['split']=='val'].groupby('angle').count()

       image_id  split  make  model  width  height
angle
front        83     83     0      0     83      83
rear         81     81     0      0     81      81
side         90     90     0      0     90      90

In [10]:
final_df[final_df['split']=='test'].groupby('angle').count()

       image_id  split  make  model  width  height
angle
front        54     54     0      0     54      54
rear         45     45     0      0     45      45
side         42     42     0      0     42      42

In [7]:
df_fixed = pd.read_csv("labels_fixed.csv")

In [8]:
df_fixed[df_fixed['split']=='train'].groupby('angle').count()

         image_id  split  make  model  width  height
angle
front         205    205     0      0    205     205
not_car       487    487     0      0    487     487
rear          134    134     0      0    134     134
side          166    166     0      0    166     166

In [10]:
df = pd.read_csv("labels.csv")

In [13]:
df_car = df[df['angle']!='not_car']

In [14]:
df_car[df_car['split']=='train'].groupby('angle').count()

       image_id  split  make  model  width  height
angle
front       272    272     0      0    272     272
rear        203    203     0      0    203     203
side        238    238     0      0    238     238

In [15]:
df_car[df_car['split']=='val'].groupby('angle').count()

       image_id  split  make  model  width  height
angle
front        72     72     0      0     72      72
rear         53     53     0      0     53      53
side         53     53     0      0     53      53

In [16]:
df_car[df_car['split']=='test'].groupby('angle').count()

       image_id  split  make  model  width  height
angle
front        46     46     0      0     46      46
rear         30     30     0      0     30      30
side         30     30     0      0     30      30